<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>580609860481-g1orak6dpalcr735s3hs03g1bti9mora.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.580609860481-g1orak6dpalcr735s3hs03g1bti9mora</string>
	<key>API_KEY</key>
	<string>AIzaSyAZ2ZuwX3LJz6dfuotUIUJqcjzGR-oAbIA</string>
	<key>GCM_SENDER_ID</key>
	<string>580609860481</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fluttersocialApp</string>
	<key>PROJECT_ID</key>
	<string>firstsocialapp-3d902</string>
	<key>STORAGE_BUCKET</key>
	<string>firstsocialapp-3d902.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:580609860481:ios:ffa24f6d8ca4059a1bfe80</string>
</dict>
</plist>